<h1><%= @todo_list.title %> - Editing Todo List Item</h1>  <!--Added from step 11-2-->
<!--Added from step 09-5-->
<%= form_for [@todo_list, @todo_item] do |form| %>
    <!--Deleted block in step 11-2 is found in _form.html.erb-->
    <%= render partial: form %> <!--Added from step 11-2-->
<% end %>
